extends layout

block content
  h1 Hoger lager
  p Kies je inleg en klik op start. Vervolgens krijg je een getal te zien tussen de en 1 en 10.
    |Bij een goed antwoord krijg je 2 keer je inzet terug

  if typeof(wager) !== 'undefined' && wager > 0
    p Inzet: #{wager}

    if typeof playerWon !== 'undefined'
        p The number you bet on was #{previousNumber}
        p The next number was #{randomNumber}
        if playerWon == true
            p You won #{wager}!
        else
            p You lose #{wager}!

    else
        p= randomNumber
        form(method="post")
            input(type="hidden", name="wager", value=wager)
            input(type="hidden", name="previousRandom", value=randomNumber)
            input(type="submit", name="higherlower", value="Lower")
            input(type="submit", name="higherlower", value="Higher")


  else
    form(method="post")
      input(type="number", name="wager")
      input(type="submit", value="Start game")